<div>
	<div layout="row">
		<div flex-gt-xs="33"></div>
		<div flex-gt-xs="33"><img src="images/Rusty-Daisy-Circle-Logo.jpg" width="100%"/></div>
		<div flex-gt-xs="33"></div>
	</div>
	<div layout="row" layout-align="space-around center" flex="100" style="padding-top: 5%">
		<div>
			<a href="https://www.facebook.com/profile.php?id=100013141171577" target="_blank">
				<md-button>
					<md-tooltip md-direction="top">Facebook</md-tooltip>
					<md-icon class="fab fa-facebook-f fa-5x"></md-icon>
				</md-button>
			</a>
		</div>
		<div>
			<a href="https://www.instagram.com/rustydaisy.co.uk/" target="_blank">
				<md-button>
					<md-tooltip md-direction="top">Instagram</md-tooltip>
					<md-icon class="fab fa-instagram fa-5x"></md-icon>
				</md-button>
			</a>
		</div>
		<div>
			<a href="https://twitter.com/rusty_daisy" target="_blank">
				<md-button>
					<md-tooltip md-direction="top">Twitter</md-tooltip>
					<md-icon class="fab fa-twitter fa-5x"></md-icon>
				</md-button>
			</a>
		</div>
		<div>
			<md-button ng-click="$ctrl.email()">
				<md-tooltip md-direction="top">Email Us</md-tooltip>
				<md-icon class="far fa-envelope fa-5x"></md-icon>
			</md-button>
		</div>
	</div>
</div>
